@model IEnumerable<TeduShop.Web.Models.OrderInformationViewModel>

@{
    ViewBag.Title = "Lịch sử mua hàng";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div class="single_top">
    <div class="single_grid">
        <div id="cartContent">
            <h3>Lịch sử mua hàng</h3>
            <table class="table">


                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.Quantity)" style="width:50px;" />
                    </td>
                    <td>

                        <div class="item-view col-xs-12 mb-3 product-card">
                            <div class="col-xs-8">
                                <div class="product-title" style="font-weight:bold; font-size:16px;">@Html.DisplayFor(modelItem => item.ProductName)</div>
                                <div> <span style="font-weight:bold;">Số lượng: </span>@Html.DisplayFor(modelItem => item.Quantity)</div>
                            </div>
                            <div class="col-xs-4">
                                <div>Mã đơn hàng: @Html.DisplayFor(modelItem => item.OrderId)</div>
                                <div style="color:coral;">
                                    @Html.DisplayFor(modelItem => item.Price)
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <span style="font-weight:bold;">Ngày mua: </span>@Html.DisplayFor(modelItem => item.CreatedDate)
                            </div>
                        </div>

                    </td>
                </tr>
                }

            </table>
        </div>
        <div class="clearfix"> </div>
    </div>

    </div>